<launch>
  <node pkg="tf" type="static_transform_publisher" name="rplidar_baselink" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link rplidar_link 100"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_base" args="0.0 0.0 0.0 0.0 0.0 0.0 odom base_link 100"/>  -->
  <node pkg="amcl" type="amcl" name="amcl">
    <remap from="/scan" to="/laser/scan"/>  
    <param name="odom_model_type" value="omni"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link" />
    <param name="global_frame_id" value="map" />
    <param name="update_min_d" value="0.05" />
    <param name="update_min_a" value="0.01" />
    <param name="resample_interval" value="1" />
    <param name="gui_publish_rate" value="10" />
  </node>
</launch>